{% extends 'custom_layouts/base-navigationheader.html' %}
  {% block content_display %}
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{{view.title}}</h3>
            <div class="mt--4 text-right">
              <a href="{% url 'account.new' %}" class="btn btn-sm btn-secondary">New</a>
            </div>
          </div>
          {% include 'includes/account_table.html' %}          
        </div>
      </div>
    </div>
  {% endblock content_display %}
