{% extends 'custom_layouts/base-navigationheader.html' %}
  {% block content_display %}
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="card bg-secondary border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <form method='POST'>{% csrf_token %}
                <strong>Are you sure you want to delete {{account.number}} from {{account.parent_institution}}?</strong>
                <strong>This action cannot be undone.</strong>
                <div class="col text-center">
                  <input type="submit" class="btn btn-danger my-3" value="Confirm">
                  <a href="{% url 'accounts.list' %}" class ="btn btn-secondary my-3">Cancel</a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endblock content_display %}
