  {% extends 'custom_layouts/base-navigationheader.html' %}
  {% block content_display %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header border-bottom">
          <div class="mb-0">
            <h3 class="mb-0">Institution Profile Form</h3>
            <div class="mt--4 text-right">
              <button type="button" onclick="history.back()" class="btn btn-sm btn-secondary">Back</button>
            </div>
          </div>
          {% if form.errors %}
          <div class="mb-0 mt-5 mb--3">
                <div class="alert alert-danger">
                  {{form.errors.number.as_text}}
                </div>
          </div>
          {% endif %}
        </div>
        <form method='POST'>{% csrf_token %}
          <div class="card-body border-0">
            <div class="row">
              <div class="col col-lg-4 border-left">
                <label>Institution:</label><p>{{form.name}}</p>
              </div>
              <div class="col border-left">
                <label>Description:</label><p>{{form.description}}</p>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent">
            
            <div class="col text-center">
              <button type="button" onclick="history.back()" class="btn btn btn-secondary">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock content_display %}


