{% extends 'custom_layouts/base-navigationheader.html' %}
  {% block content_display %}
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{{view.title}}</h3>
            <div class="mt--4 text-right">
              <a href="{% url 'manual_asset.new' %}" class="btn btn-sm btn-primary">New</a>
              <a href="#" class="btn btn-sm btn-primary">Filters</a>
            </div>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="institution">Description</th>
                  <th scope="col" class="sort" data-sort="description">Category</th>
                  <th scope="col" class="sort" data-sort="type">Current Value</th>
                  <th scope="col" class="sort" data-sort="last_updated">Last Updated</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">

                {% for manual_asset in manual_assets %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <a href="{% url 'manual_asset.detail' pk=manual_asset.id %}" class="name mb-0 text-sm nav-link">{{manual_asset.description|truncatechars:30}}</a>
                      </div>
                    </div>
                  </th>
                  <td class="text-default">
                    <span class="text-default">{{manual_asset.get_category_display}}</span>
                  </td>
                  <td class="text-default">
                    <span class="text-default">{{manual_asset.current_value}}$</span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-1">
                      <i class="bg-warning"></i>
                      <span class="text-default">{{manual_asset.last_updated}}</span>
                    </span>
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{% url 'manual_asset.update' pk=manual_asset.id %}">Edit</a>
                        <a class="dropdown-item" href="{% url 'manual_asset.delete' pk=manual_asset.id %}">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endblock content_display %}
